<div class="row">
    <h1 color="primary">Nova vacina</h1>
</div>
<mat-card>
    <form class="py-lg-2 px-lg-2" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="col-sm-6 offset-sm-3">
            <div class="row">
                <div class="col-sm">
                    <div class="d-flex align-items-center justify-content-between my-2">
                        <h3 class="bold mt w-auto my-auto">Dados da Vacina</h3>
                    </div>
                    <div class="row">
                        <mat-form-field class="w-100">
                            <mat-label>Nome</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="w-50">
                            <mat-label>Tipo de vacina</mat-label>
                            <mat-select matNativeControl formControlName="vacineType">
                                <mat-option value="-1" selected="selected">Selecione um tipo de vacina</mat-option>
                                <mat-option *ngFor="let vacineType of vacineTypes" [value]="vacineType.id">{{vacineType.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Data de vencimento</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dateDueDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mt-sm-5">
                <div class="col-sm-2 offset-sm-4 text-end mt-1 order-2 order-sm-1">
                    <button type="button" mat-raised-button class="mx-1 w-100" color="secondary" routerLink="..">VOLTAR</button>
                </div>
                <div class="col-sm-2 text-start mt-1 order-1 order-sm-2">
                    <button type="submit" mat-raised-button class="mx-1 w-100" color="accent" [disabled]="form.invalid || form.pristine">SALVAR</button>
                </div>
            </div>
        </div>
    </form>
</mat-card>
