<div class="container my-lg-5 my-3">
    <div class="card container mx-auto p-4">
        <img class="img-fluid px-lg-5 mx-auto mt-4" src="assets/images/logo.png" alt="logo">
        <h1 class="text-center bold mt-4">ALTERAÇÃO DE SENHA</h1>
        <form class="mt-5 mb-4 text-center px-lg-5" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <mat-form-field class="w-100">
                    <mat-label>Nova senha</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error>Insira sua senha</mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="w-100">
                    <mat-label>Confirmação de senha</mat-label>
                    <input matInput type="password" formControlName="confirm_password" [errorStateMatcher]="confirmPasswordStateMatcher">
                    <mat-error *ngIf="form.hasError('notSame')">Senhas diferentes</mat-error>
                </mat-form-field>
            </div>
            <div class="d-grid gap-3 col-10 mx-auto mt-5">
                <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">ENVIAR</button>
                <a routerLink="/auth/login" color="secondary">Lembrei a senha</a>
            </div>
        </form>
    </div>
</div>