<h2 mat-dialog-title class="mb-0" *ngIf="title">{{title}}</h2>
<mat-dialog-content class="mat-typography" *ngIf="message">
    {{message}}
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" mat-raised-button color="secondary" [mat-dialog-close]="false">{{cancel}}</button>
    <button type="button" mat-raised-button color="accent" [mat-dialog-close]="true" cdkFocusInitial>{{ok}}</button>
</mat-dialog-actions>