<div class="text-center">
    <form class="py-lg-2 px-lg-2" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="bold mt-2 w-auto">INSIRA SEU TOKEN</h1>
        <small>Seu token foi enviado por e-mail, verifique sua caixa de entrada e lixeira.</small>
        <ng-otp-input class="my-4" (onInputChange)="onInputChange($event)" [config]="config">
        </ng-otp-input>
        <div *ngIf="hasCertificate">
            <div class="cursor-pointer" (click)="toggleCertificate()">Assinar com meu certificado digital</div>
            <span *ngIf="!showCertificate" (click)="toggleCertificate()" class="material-icons">
        keyboard_arrow_down
      </span>

            <span (click)="toggleCertificate()" class="material-icons" *ngIf="showCertificate">
        keyboard_arrow_up
      </span>

            <div class="row" *ngIf="showCertificate">
                <mat-form-field class="w-100">
                    <mat-label>Certificado</mat-label>
                    <mat-icon matSuffix>attach_file</mat-icon>
                    <ngx-mat-file-input formControlName="file" [accept]="'.pfx'"></ngx-mat-file-input>
                    <mat-error *ngIf="f.file!.hasError('maxContentSize')">
                        O tamanho do arquivo enviado não pode exceder {{f.file?.getError('maxContentSize').maxSize | byteFormat}} ({{f.file?.getError('maxContentSize').actualSize | byteFormat}}).
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                    <button type="button" mat-icon-button matSuffix (click)="togglePassword()">
            <mat-icon color="secondary">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
                    <mat-error>Insira sua senha</mat-error>
                </mat-form-field>
            </div>
        </div>
        <mat-dialog-actions align="center">
            <button type="submit" mat-raised-button [disabled]="form.invalid" class="mb-2 w-100" color="accent">CONFIRMAR</button>
        </mat-dialog-actions>
    </form>
</div>