<div class="row">
    <h1 color="primary">Detalhes Animal</h1>
</div>
<mat-card>
    <form class="py-lg-2 px-lg-2" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="col-sm-6 offset-sm-3">
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <mat-form-field class="w-25">
                            <mat-label>Código</mat-label>
                            <input matInput formControlName="id">
                        </mat-form-field>
                        <mat-form-field class="w-25">
                            <mat-label>Sexo</mat-label>
                            <input matInput formControlName="sex">
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Escolha a data de nascimento</mat-label>
                            <input matInput formControlName="birth">
                            <mat-datepicker-toggle matSuffix disabled></mat-datepicker-toggle>
                            <mat-datepicker #birth></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field class="w-50">
                            <mat-label>Primeira pesagem</mat-label>
                            <input matInput formControlName="qtFirstWeight">
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Escolha a data da primeira pesagem</mat-label>
                            <input matInput formControlName="dateFirstWeight">
                            <mat-datepicker-toggle matSuffix disabled></mat-datepicker-toggle>
                            <mat-datepicker #dateFirstWeight></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field class="w-50">
                            <mat-label>Data da entrada na fazenda</mat-label>
                            <input matInput formControlName="farmInput">
                            <mat-datepicker-toggle matSuffix disabled></mat-datepicker-toggle>
                            <mat-datepicker #farmInput></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Pelagem</mat-label>
                            <input matInput formControlName="nameColor">
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field class="w-50">
                            <mat-label>Lote</mat-label>
                            <input matInput formControlName="batchName">
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Tipo de identificação</mat-label>
                            <input matInput formControlName="identificationName">
                        </mat-form-field>
                    </div>

                    <div class="row" *ngIf="isDeathOrLoss()">
                        <mat-form-field class="w-50">
                            <mat-label>Motivo do acidente/morte</mat-label>
                            <input matInput formControlName="descriptionDeathOrLoss">
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Data do acidente/morte</mat-label>
                            <input matInput formControlName="dateDeathOrLoss">
                        </mat-form-field>
                    </div>
                    <div class="row" *ngIf="!isDeathOrLoss()">
                        <mat-form-field class="w-50">
                            <mat-label>Motivo do acidente/morte</mat-label>
                            <input matInput formControlName="descriptionDeathOrLoss">
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Data do acidente/morte</mat-label>
                            <input matInput formControlName="dateDeathOrLoss">
                            <mat-datepicker-toggle matSuffix></mat-datepicker-toggle>
                            <mat-datepicker #dateDeathOrLoss></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2 offset-sm-2 text-end mt-1 order-2 order-sm-1">
                    <button type="button" mat-raised-button class="mx-1 w-100" color="secondary" routerLink="..">VOLTAR</button>
                </div>
                <div class="col-sm-2 offset-sm-2 text-end mt-1 order-2 order-sm-1">
                    <button type="submit" mat-raised-button class="mx-1 w-100" color="accent" [disabled]="form.invalid || form.pristine">SALVAR</button>
                </div>
            </div>
        </div>
    </form>
</mat-card>