<div class="container my-lg-5 my-3">
    <div class="card container mx-auto p-4">
        <img class="img-fluid px-lg-5 mx-auto mt-4" src="assets/images/logo.png" alt="logo">
        <h1 class="text-center bold mt-4">RECUPERAR SENHA</h1>
        <form class="mt-5 mb-4 text-center px-lg-5" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-100">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-icon matPrefix color="secondary">person</mat-icon>
                <mat-error>E-mail inválido</mat-error>
            </mat-form-field>
            <a routerLink="/auth/login" color="secondary">Lembrei a senha</a>
            <div class="d-grid gap-3 col-10 mx-auto mt-5">
                <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">ENVIAR</button>
                <span> Cadastre-se <a routerLink="/auth/register" color="primary">aqui</a>.</span>
            </div>
        </form>
    </div>
</div>
