<div class="row">
    <h1 color="primary">Detalhes Usuário</h1>
</div>
<mat-card>
    <form class="py-lg-2 px-lg-2" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="col-sm-6 offset-sm-3">
            <div class="row">
                <div class="col-sm">
                    <div class="d-flex align-items-center justify-content-between my-2">
                        <h3 class="bold mt w-auto my-auto">Dados do usuário</h3>
                        <span *ngIf="user?.isActiveInative()" class="badge rounded-pill bg-success my-auto">ATIVO</span>
                        <span *ngIf="!user?.isActiveInative()" class="badge rounded-pill bg-secondary my-auto">INATIVO</span>
                    </div>
                    <div class="row">
                        <mat-form-field class="w-25">
                            <mat-label>Código</mat-label>
                            <input matInput formControlName="id">
                        </mat-form-field>
                        <mat-form-field class="w-75">
                            <mat-label>Nome Completo</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="w-50">
                            <mat-label>Documento</mat-label>
                            <input matInput formControlName="cpf" [mask]="mask.CPF">
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Role</mat-label>
                            <input matInput formControlName="userType">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <mat-form-field class="w-50">
                        <mat-label>E-mail</mat-label>
                        <input matInput formControlName="email">
                    </mat-form-field>
                </div>
                <hr>
                <div class="d-flex align-items-center justify-content-between my-2">
                    <h3 class="bold mt w-auto my-auto">Alteração de senha</h3>
                </div>
                <div class="row">
                    <mat-form-field class="w-50">
                        <mat-label>Senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    </mat-form-field>
                    <mat-form-field class="w-50">
                        <mat-label>Confirmar Senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" [errorStateMatcher]="confirmPasswordStateMatcher">
                        <mat-error *ngIf="form.hasError('notSame')">Senhas diferentes</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2 offset-sm-2 text-end mt-1 order-2 order-sm-1">
                    <button type="button" mat-raised-button class="mx-1 w-100" color="secondary" routerLink="..">VOLTAR</button>
                </div>
                <div class="col-sm-2 offset-sm-2 text-end mt-1 order-2 order-sm-1">
                    <button type="submit" mat-raised-button class="mx-1 w-100" color="accent" [disabled]="form.invalid || form.pristine">SALVAR</button>
                </div>
                <div class="col-sm-2 text-start mt-1 order-1 order-sm-2">
                    <button type="button" mat-raised-button class="mx-1 w-100" color="primary" *ngIf="!user?.isActiveInative() && isVisible() == true" (click)="isActivateInactive()">ATIVAR</button>
                </div>
                <div class="col-sm-2 text-start mt-1 order-1 order-sm-2">
                    <button type="button" mat-raised-button class="mx-1 w-100" color="warn" *ngIf="user?.isActiveInative() && isVisible() == true" (click)="isDeactivate()">INATIVAR</button>
                </div>
            </div>
        </div>
    </form>
</mat-card>
