<div class="row">
    <h1 color="primary">Detalhes Manejo</h1>
</div>
<mat-card>
    <form class="py-lg-2 px-lg-2" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="col-sm-6 offset-sm-3">
            <div class="row">
                <div class="col-sm">
                    <div class="row">
                        <mat-form-field class="w-50">
                            <mat-label>Descrição</mat-label>
                            <input matInput formControlName="description">
                        </mat-form-field>
                        <mat-form-field class="w-50" *ngIf="isPresente()">
                            <mat-label>Data do manejo</mat-label>
                            <input matInput formControlName="dateManagement">
                        </mat-form-field>

                        <mat-form-field class="w-50" *ngIf="!isPresente()">
                            <mat-label>Escolha a data</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="dateManagement">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="w-50">
                            <mat-label>Período</mat-label>
                            <input matInput formControlName="timeCourse">
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Vacina</mat-label>
                            <input matInput formControlName="vacineName">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-2 offset-sm-2 text-end mt-1 order-2 order-sm-1">
                    <button type="button" mat-raised-button class="mx-1 w-100" color="secondary" routerLink="..">VOLTAR</button>
                </div>
                <div class="col-sm-2 offset-sm-2 text-end mt-1 order-2 order-sm-1">
                    <button type="submit" mat-raised-button class="mx-1 w-100" color="accent" [disabled]="form.invalid || form.pristine">SALVAR</button>
                </div>
            </div>
        </div>
    </form>
</mat-card>