<div class="col-sm-12">
    <mat-grid-list cols="2" rowHeight="600px" class="grid1">
        <mat-grid-tile>
            <mat-card>
                <mat-card-subtitle>*Vacina Obrigatória</mat-card-subtitle>
                <mat-card-title>
                    AFTOSA
                </mat-card-title>
                <mat-card-content>
                    <mat-list>
                        <img mat-card-image src="../../../../assets/images/febreaftosa.png" alt="Febre aftosa">
                    </mat-list>
                    <mat-list>
                        <mat-list-item>
                            <i class="material-icons">
                            done
                        </i> Fêmeas e machos são vacinados;
                        </mat-list-item>
                        <mat-list-item>
                            <i class="material-icons">
                            done
                        </i> É anual e ocorre em dois períodos:
                        </mat-list-item>
                        <mat-list-item>
                            <i class="material-icons">
                            done
                        </i> Todos os animais são vacinados;
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-subtitle>*Vacina Obrigatória</mat-card-subtitle>
                <mat-card-title>
                    BRUCELOSE
                </mat-card-title>
                <mat-card-content>
                    <mat-list>
                        <img mat-card-image src="../../../../assets/images/brucelose.png" alt="BRUCELOSE">
                    </mat-list>
                    <mat-list>
                        <mat-list-item>
                            <i class="material-icons">
                            done
                        </i> Apenas as fêmeas são vacinadas;
                        </mat-list-item>

                        <mat-list-item>
                            <i class="material-icons">
                            done
                        </i> Vacinação entre 3 e 8 meses de idade.
                        </mat-list-item>

                        <mat-list-item>
                            <i class="material-icons">
                            done
                        </i> Diagnóstico e sacrifício dos animais positivos.
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>


    <mat-grid-list cols="2" rowHeight="600px" class="grid1">
        <mat-grid-tile>
            <mat-card>
                <mat-card-subtitle>*Vacina não Obrigatória</mat-card-subtitle>
                <mat-card-title>
                    CARBUNCULO SINTOMÁTICO
                </mat-card-title>
                <mat-card-content>
                    <mat-list>
                        <img mat-card-image src="../../../../assets/images/carbunco.jpg" alt="CARBUNCULO">
                    </mat-list>
                    <mat-list>
                        <mat-list-item>
                            <i class="material-icons">
                            done
                        </i> Todo o rebanho é vacinado;
                        </mat-list-item>

                        <mat-list-item>
                            <i class="material-icons">
                            keyboard_arrow_right
                        </i> 1 ° dose aos 4 meses de idade;
                        </mat-list-item>
                        <mat-list-item>
                            <i class="material-icons">
                            keyboard_arrow_right
                        </i> 2° dose deve ser aos 8 meses de idade.
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-subtitle>*Vacina não Obrigatória</mat-card-subtitle>
                <mat-card-title>
                    LEPTOSPIROSE
                </mat-card-title>
                <mat-card-content>
                    <mat-list>
                        <img mat-card-image src="../../../../assets/images/leptospirose.png" alt="LEPTOSPIROSE">
                    </mat-list>
                    <mat-list>
                        <mat-list-item>
                            <i class="material-icons">
                            done
                        </i> Todo o rebanho é vacinado;
                        </mat-list-item>

                        <mat-list-item>
                            <i class="material-icons">
                            keyboard_arrow_right
                        </i> 1° dose é aplicada entre 4 e 6 meses de idade <br>com reforço após 4 semanas;
                        </mat-list-item>
                        <mat-list-item>
                            <i class="material-icons">
                            keyboard_arrow_right
                        </i> A revacinação é a cada 6 meses ou em intervalo menores.
                        </mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
