<div class="container my-lg-5 my-3">
    <div class="card container mx-auto p-4">
        <div class="mx-auto image-container px-lg-5 mt-4">
            <img class="img-fluid" src="assets/images/logo.png" alt="logo">
        </div>
        <h1 class="text-center bold mt-4">Cadastre-se</h1>
        <form class="mt-5 mb-4 px-lg-5" [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!created">
            <h2 class="bold mb-0">Credenciais de acesso</h2>
            <div class="row">
                <mat-form-field class="col">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name">
                    <mat-error>Campo obrigatório</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col">
                    <mat-label>CPF</mat-label>
                    <input matInput formControlName="cpf" [mask]="mask.CPF" [showMaskTyped]="true">
                    <mat-error>Campo obrigatório</mat-error>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-error>E-mail inválido</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col">
                    <mat-label>Senha</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-error>Insira sua senha</mat-error>
                </mat-form-field>
                <mat-form-field class="col">
                    <mat-label>Confirmação de senha</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" [errorStateMatcher]="confirmPasswordStateMatcher">
                    <mat-error *ngIf="form.hasError('notSame')">Senhas diferentes</mat-error>
                </mat-form-field>
            </div>
            <div class="d-grid gap-3 col-10 mx-auto mt-5">
                <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">CADASTRAR</button>
                <div class="text-center">
                    <span>Já possuo registro, quero <a routerLink="/auth/login" color="primary">entrar</a>.</span>
                </div>
            </div>
        </form>
        <div *ngIf="created" class="text-center">
            <span class="material-icons success text-success">done</span>
            <h1 class="bold">Tudo certo, {{ f.name.value }}!</h1>
            <h3 class="bold w-auto my-auto">Agora é só aguardar a aprovação do seu cadastro.</h3>
            <h3 class="bold w-auto my-auto">Você receberá um e-mail quando o seu cadastro for aprovado.</h3>
        </div>
    </div>
</div>