<div class="row">
    <h1 color="primary">Novo Usuário</h1>
</div>
<mat-card>
    <form class="py-lg-2 px-lg-2" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="col-sm-6 offset-sm-3">
            <div class="row">
                <div class="col-sm">
                    <div class="d-flex align-items-center justify-content-between my-2">
                        <h3 class="bold mt w-auto my-auto">Dados do Usuário</h3>
                    </div>
                    <div class="row">
                        <mat-form-field class="w-100">
                            <mat-label>Nome</mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-form-field class="w-200" class="form">
                                <mat-label>CPF</mat-label>
                                <input matInput formControlName="cpf" [mask]="mask.CPF">
                            </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <mat-form-field>
                                <mat-label>Role</mat-label>
                                <mat-select formControlName="userTypes">
                                    <mat-option value="">SELECIONE</mat-option>
                                    <mat-option value="ROLE_ADMINISTRADOR">ADMINISTRADOR</mat-option>
                                    <mat-option value="ROLE_FAZENDEIRO">FAZENDEIRO</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="w-100">
                                <mat-label>E-mail</mat-label>
                                <input matInput formControlName="email">
                            </mat-form-field>
                        </div>
                    </div>

                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm">
                    <div class="row">

                        <mat-form-field class="w-100">
                            <mat-label>Senha enviada por email!</mat-label>
                            <input matInput disabled>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row mt-sm-5">
                <div class="col-sm-2 offset-sm-4 text-end mt-1 order-2 order-sm-1">
                    <button type="button" mat-raised-button class="mx-1 w-100" color="secondary" routerLink="..">VOLTAR</button>
                </div>
                <div class="col-sm-2 text-start mt-1 order-1 order-sm-2">
                    <button type="submit" mat-raised-button class="mx-1 w-100" color="accent" [disabled]="form.invalid || form.pristine">SALVAR</button>
                </div>
            </div>
        </div>
    </form>
</mat-card>