<div class="row">
    <h1 color="primary">Novo Animal</h1>
</div>
<mat-card>
    <form class="py-lg-2 px-lg-2" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="col-sm-6 offset-sm-3">
            <div class="row">
                <div class="col-sm">
                    <div class="d-flex align-items-center justify-content-between my-2">
                        <h3 class="bold mt w-auto my-auto">Dados do Animal</h3>
                    </div>
                    <div class="row">
                        <mat-form-field class="w-50">
                            <mat-label>Sexo</mat-label>
                            <mat-select matNativeControl formControlName="sex">
                                <mat-option value="-1" selected="selected">Selecione o sexo</mat-option>
                                <mat-option value="FÊMEA">FÊMEA</mat-option>
                                <mat-option value="MACHO">MACHO</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Escolha a data de nascimento</mat-label>
                            <input matInput [matDatepicker]="birth" formControlName="birth">
                            <mat-datepicker-toggle matSuffix [for]="birth"></mat-datepicker-toggle>
                            <mat-datepicker #birth></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field class="w-50">
                            <mat-label>Primeira pesagem (Em kg)</mat-label>
                            <input matInput formControlName="qtFirstWeight">
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Escolha a data da primeira pesagem</mat-label>
                            <input matInput [matDatepicker]="dateFirstWeight" formControlName="dateFirstWeight">
                            <mat-datepicker-toggle matSuffix [for]="dateFirstWeight"></mat-datepicker-toggle>
                            <mat-datepicker #dateFirstWeight></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field class="w-50">
                            <mat-label>Data da entrada na fazenda</mat-label>
                            <input matInput [matDatepicker]="farmInput" formControlName="farmInput">
                            <mat-datepicker-toggle matSuffix [for]="farmInput"></mat-datepicker-toggle>
                            <mat-datepicker #farmInput></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Pelagem</mat-label>
                            <mat-select matNativeControl formControlName="nameColor">
                                <mat-option value="-1" selected="selected">Selecione a cor</mat-option>
                                <mat-option value="VERMELHA">VERMELHA</mat-option>
                                <mat-option value="VERMELHA E BRANCO">VERMELHA E BRANCO</mat-option>
                                <mat-option value="PRETO E BRANCO">PRETO E BRANCO</mat-option>
                                <mat-option value="BRANCO">BRANCO</mat-option>
                                <mat-option value="PRETO">PRETO</mat-option>
                                <mat-option value="CINZA">CINZA</mat-option>
                                <mat-option value="MANCHADO DE CINZA">MANCHADO DE CINZA</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field class="w-50">
                            <mat-label>Tipo de identificação</mat-label>
                            <mat-select matNativeControl formControlName="identificationType">
                                <mat-option value="-1" selected="selected">Selecione o tipo de identificação</mat-option>
                                <mat-option *ngFor="let identificationType of listIdentifications" [value]="identificationType.id">{{identificationType.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-50">
                            <mat-label>Lote</mat-label>
                            <mat-select matNativeControl formControlName="batch">
                                <mat-option value="-1" selected="selected">Selecione o lote</mat-option>
                                <mat-option *ngFor="let batch of listBatchs" [value]="batch.id">{{batch.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>
            <hr>
            <div class="row mt-sm-5">
                <div class="col-sm-2 offset-sm-4 text-end mt-1 order-2 order-sm-1">
                    <button type="button" mat-raised-button class="mx-1 w-100" color="secondary" routerLink="..">VOLTAR</button>
                </div>
                <div class="col-sm-2 text-start mt-1 order-1 order-sm-2">
                    <button type="submit" mat-raised-button class="mx-1 w-100" color="accent" [disabled]="form.invalid || form.pristine">SALVAR</button>
                </div>
            </div>
        </div>
    </form>
</mat-card>
