.home-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.home-mobile .home-toolbar {
    position: fixed;
    z-index: 2;
}

.home-sidenav-container {
    flex: 1;
}

.home-mobile .home-sidenav-container {
    flex: 1 0 auto;
}

.menu {
    background-color: #1D3110;
    width: 250px;
}

.menu a {
    color: #ffffff;
}

.spacer {
    flex: 1 1 auto;
}

.navbar-brand {
    max-width: 150px;
}

.navbar-user-details {
    font-size: .575em;
    font-weight: normal;
    margin-top: -0.8rem !important;
}

mat-nav-list>a {
    font: normal normal 500 20px Roboto;
}

mat-sidenav-content {
    background-image: url('../../../assets/images/background2.jpg');
}

.img-fluid {
    width: 100px;
    height: 100px;
}
