<div class="home-container" [class.home-mobile]="mediaQueryList.matches">
    <mat-toolbar color="accent" class="home-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <a class="navbar-brand d-none d-md-block" href="#"><img src="assets/images/logo.png" class="img-fluid p-4" alt="logo"></a>

        <div class="spacer"></div>
        <div class="d-flex align-items-center">
            <div class="d-flex flex-column align-items-end justify-content-center me-3">
                <small>{{ user?.name }}</small>
                <!--<small class="navbar-user-details mt-n1">{{ user?.email }}</small>-->
            </div>

            <button mat-icon-button (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
            </button>
        </div>

    </mat-toolbar>



    <mat-sidenav-container class="home-sidenav-container" [style.marginTop.px]="mediaQueryList.matches ? 56 : 0">
        <mat-sidenav class="menu p-4" #sidenav [opened]="openMenu" (openedChange)="saveMenuState($event)" [mode]="mediaQueryList.matches ? 'over' : 'side'" [fixedInViewport]="mediaQueryList.matches" fixedTopGap="56" color="primary">
            <mat-nav-list>
                <a *ngFor="let item of menu" mat-list-item [routerLink]="item.link" routerLinkActive="text-white">{{item.name}}</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="p-4">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>