<h1 color="primary">{{title | uppercase}}</h1>
<mat-card class="pt-0">
    <div class="row pt-3">
        <div class="col-md-9 order-1">
            <mat-form-field class="w-100">
                <input matInput [(ngModel)]="search" (keyup.enter)="load()" placeholder="Procurar">
                <button type="button" mat-icon-button matSuffix (click)="load()">
                    <mat-icon color="secondary">search</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div class="col-md-3 order-md-2 order-4" *ngIf="create">
            <div class="w-100 mt-2">
                <button mat-raised-button class="w-100" routerLink="create">
                    NOVO <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>

        <div class="col-md-4 order-md-3 order-2" *ngIf="hasDate">
            <mat-form-field color="primary" class="w-100">
                <mat-label>Data</mat-label>
                <mat-date-range-input [rangePicker]="rangeDatePicker">
                    <input matStartDate placeholder="Data início" [(ngModel)]="initialDate">
                    <input matEndDate placeholder="Data final" [(ngModel)]="finalDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="rangeDatePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #rangeDatePicker></mat-date-range-picker>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="dataSource">
        <mat-table [dataSource]="dataSource">
            <ng-container *ngFor="let d of data" [matColumnDef]="d.field">
                <mat-header-cell *matHeaderCellDef><span class="column-container" [ngClass]="{'text-center mx-auto': ['boolean', 'date'].includes(d.type)}">{{d.name | uppercase}}</span></mat-header-cell>
                <mat-cell *matCellDef="let item" [ngSwitch]="d.type">
                    <ng-container *ngSwitchCase="'text'">
                        <div class="column-container">
                            <ng-container *ngIf="d.mask">
                                {{item[d.field] | mask: mask[d.mask]}}
                            </ng-container>
                            <ng-container *ngIf="!d.mask">
                                {{item[d.field]}}
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'boolean'">
                        <div class="text-center w-100 column-container">
                            <span *ngIf="item[d.field]" class="material-icons text-success">check_circle_outline</span>
                            <span *ngIf="!item[d.field]" class="material-icons text-secondary">highlight_off</span>
                        </div>
                    </ng-container>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="details">
                <mat-header-cell *matHeaderCellDef><span class="mx-auto column-container">DETALHES</span>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button type="button" class="mx-auto column-container" mat-icon-button matSuffix [routerLink]="element.id">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: columns;"></mat-row>
        </mat-table>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]" [pageSize]="10"></mat-paginator>
</mat-card>