.column-container {
    margin-left: 4px;
    margin-right: 4px;
}

.mat-column-id,
.mat-column-details,
.mat-column-activated,
.mat-column-enabled,
.mat-column-createdAt,
.mat-column-approved {
    flex: 0.25;
}

.flex-25 {
    flex: 0.25;
}

.mat-column-cpf {
    flex: 0.5;
}

.mat-column-nationalRegister {
    flex: 0.5;
}