<div class="container my-lg-5 my-3">
    <div class="card container mx-auto p-4">
        <img class="img-fluid px-lg-5 mx-auto mt-4" src="assets/images/logo.png" alt="logo">
        <h1 class="text-center bold mt-4">SEJA BEM-VINDO!</h1>
        <form class="mt-5 mb-4 text-center px-lg-5" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-100">
                <mat-label>E-mail</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-icon matPrefix color="secondary">person</mat-icon>
                <mat-error>E-mail inválido</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="togglePassword()">
                    <mat-icon color="secondary">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error>Insira sua senha</mat-error>
            </mat-form-field>
            <!--<a routerLink="/auth/forgot-password" color="secondary">Esqueci a senha</a>-->
            <div class="d-grid gap-3 col-10 mx-auto mt-5">
                <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">ENTRAR</button>
                <span>Cadastre-se <a routerLink="/auth/register" color="primary">aqui</a>.</span>
            </div>
        </form>
    </div>
</div>
