<h2 mat-dialog-title class="mb-0" *ngIf="title">{{title}}</h2>
<mat-form-field class="w-100">
    <mat-label>{{field}}</mat-label>
    <input matInput [(ngModel)]="input" (keyup.enter)="submit()">
</mat-form-field>
<mat-dialog-actions align="end">
    <button type="button" mat-raised-button color="secondary" [mat-dialog-close]>{{cancel}}</button>
    <button type="button" mat-raised-button color="accent" [mat-dialog-close]="input">{{ok}}</button>
</mat-dialog-actions>