@import '~@angular/material/theming';
@include mat-core();
$dark-text: #222f3b;
$light-text: #FFFFFF;
$primary: (50: #e9eff7, 100: #cbd7e2, 200: #adbcca, 300: #8ea0b3, 400: #768ca1, 500: #5f7890, 600: #526a7f, 700: #425668, 800: #344353, 900: #222f3b, A100: #222f3b, A200: #222f3b, A400: #222f3b, A700: #222f3b, contrast: (50: $dark-text, 100: $dark-text, 200: $dark-text, 300: $dark-text, 400: $dark-text, 500: $light-text, 600: $light-text, 700: $light-text, 800: $light-text, 900: $light-text, A100: $light-text, A200: $light-text, A400: $light-text, A700: $light-text, ));
$secondary: (50: #e6f1f5, 100: #c2dce8, 200: #a0c7da, 300: #83b1c9, 400: #70a1bf, 500: #6093b6, 600: #5686aa, 700: #4a7599, 800: #1D3110, 900: #324966, A100: #324966, A200: #324966, A400: #324966, A700: #324966, contrast: (50: $dark-text, 100: $dark-text, 200: $dark-text, 300: $dark-text, 400: $dark-text, 500: $dark-text, 600: $dark-text, 700: $light-text, 800: $light-text, 900: $light-text, A100: $light-text, A200: $light-text, A400: $light-text, A700: $light-text, ));
$vpec-primary: mat-palette($primary, 900);
$vpec-accent: mat-palette($secondary, 800);
$vpec-warn: mat-palette($mat-red);
$vpec-theme: mat-light-theme((color: (primary: $vpec-primary, accent: $vpec-accent, warn: $vpec-warn, )));
@include angular-material-theme($vpec-theme);
[color="secondary"] {
    color: rgba(0, 0, 0, 0.6);
}

a[color="primary"],
h1[color="primary"] {
    color: map-get($secondary, 800);
    font-weight: 500;
}

a[color="primary"]:hover {
    font-weight: 600;
}

a[color="secondary"] {
    color: rgba(0, 0, 0, 0.6);
}

a[color="secondary"]:hover {
    font-weight: 500;
}

button[color="secondary"] {
    background-color: #C5BFBF;
}

mat-header-cell {
    color: #1D3110 !important;
}

.mat-checkbox-checked.readonly .mat-checkbox-background {
    background-color: #1D3110 !important;
}