/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('assets/images/background.png');
}

button:focus {
    outline: unset;
}

.bold {
    font-weight: 500 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #222F3B;
}

.cursor-pointer {
    cursor: pointer;
}